.container {
  max-width: 500px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  padding: 1rem;
  font-size: 1.4rem;
}

button {
  padding: 1rem;
  background: var(--primary-dark);
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 400px;
  margin: 40px auto;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}